.subscribe-form__input {
    float: left;
    height: 40px;
    width: 340px;
    padding: 5px 10px;
    box-sizing: border-box;
    font-family: 'SourceSansPro', sans-serif;
    font-size: 14px;
    border-radius: 5px 5px 5px 5px;
    border-style: none;
}
