.banner__filter_position_top-right {
    position: absolute;
    width: 585px;
    height: 220px;
    background-position: -585px 0px;
    background-image: url(../../../../../resource/img/banner.png);
    z-index: 99;  
}
