.link-button {
    width: 100px;
    display: inline-block;
}

.link-button .fa {
    color: #E24F43; 
    transition: 0.1s;
}

.link-button:hover .fa {
    font-size: 18px;
}

.link-button span {
    color: #B1B1B1;
}