.button {
    width: 230px;
    padding: 16px 0px;
    box-sizing: border-box;
    background: #E24F43;
    display: inline-block;
    color: #FFFFFF;
    font-size: 20px;
    text-align: center;
    border-radius: 5px 5px 5px 5px;
    cursor: pointer;
    transition: 0.7s;
}